@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Light-grey);
}

.flex-container {
  width: 550px;
  height: 450px;
  background-color: var(--White);
  border-radius: 10px;
  border-bottom-right-radius: 150px;
  margin: 0rem 0.5rem;
  padding: 2rem;
}

.inputFields {
  display: flex;
}

.field {
  margin: 0rem 0.5rem;
}

label {
  font-size: 0.40em;
  position: absolute;
  color: var(--Smokey-grey);
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid var(--Light-grey);
  border-radius: 4px;
  position: relative;
  top: 30px;
  background-color: var(--White);
  font-weight: 700;
  font-size: .50em;
  
}

input:focus {
  outline: none;
  border-color: var(--Purple);
}
::placeholder{
  font-size: 1em;
  font-weight: 700;
  color: var(--Off-white);
 
}

/* error message */
.errorMsgForDay,.errorMsgForMonth,.errorMsgForYear{
  width: 100%;
  height: 50px;
  position: relative;
  font-size: 0.20em;
  color: var(--Light-red);
  font-weight: 300;
  font-style: italic;
  top: 30px;
  padding-left: 5px;
}
hr {
  margin-top: 3rem;
  position: relative;
}

.svg_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--Purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.myBtn {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
.svg_image:hover{

  background-color: var(--Off-black);
  cursor: pointer;
}
.textField{
  font-size: 1.15em;
   font-weight: 800;
  font-style: italic;
}

span {
  
  color: var(--Purple);
}

@media(min-width:40em){
  
  input[type=text] {
    font-size: .75em;
  }
  ::placeholder{
    font-size: 1.25em;
  }
  .errorMsgForDay,.errorMsgForMonth,.errorMsgForYear{
    font-size: 0.35em;
  }
  .myBtn {
    justify-content: flex-end;
  }

}

@media(min-width:60em){
  
  input[type=text] {
    font-size: .80em;
  }
  .myBtn {
    justify-content: flex-end;
  }
  .errorMsgForDay,.errorMsgForMonth,.errorMsgForYear{
    font-size: 0.34em;
  }
}
@media(min-width:90em){
  
  .flex-container{
    height: 500px;
  }
  .myBtn {
    justify-content: flex-end;
  }
  .textField{
    font-size: 1.5em;
  }
  .errorMsgForDay,.errorMsgForMonth,.errorMsgForYear{

    top: 35px;
    margin-top: 0;
    padding-top: 0;
  }

}